@-webkit-keyframes slideone {
    0% { opacity: 1; }
    25% { opacity: 1; } /*exit*/
    
    30% { opacity: 0; }
    90% { opacity:  0; } /*enter*/
    
    95% { opacity:  1; }
    100% { opacity: 1; }
}
@-webkit-keyframes slidetwo {
    0% { opacity: 0; }
    25% { opacity: 0; } /*enter*/
    
    30% { opacity: 1; }
    60% { opacity: 1; } /*exit*/
    
    65% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes slidethree {
    0% { opacity: 0; }
    60% { opacity: 0; } /*enter*/
    
    65% { opacity: 1; }
    90% { opacity: 1; } /*exit*/

    95% { opacity:0; }
    100% { opacity:0; }
}




@-moz-keyframes slideone {
    0% { opacity: 1; }
    25% { opacity: 1; } /*exit*/
    
    30% { opacity: 0; }
    90% { opacity:  0; } /*enter*/
    
    95% { opacity:  1; }
    100% { opacity: 1; }
}
@-moz-keyframes slidetwo {
    0% { opacity: 0; }
    25% { opacity: 0; } /*enter*/
    
    30% { opacity: 1; }
    60% { opacity: 1; } /*exit*/
    
    65% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes slidethree {
    0% { opacity: 0; }
    60% { opacity: 0; } /*enter*/
    
    65% { opacity: 1; }
    90% { opacity: 1; } /*exit*/

    95% { opacity:0; }
    100% { opacity:0; }
}

/* ===================================
   Caption
   =================================== */

@-webkit-keyframes captionone {
    0% { opacity: 1; -webkit-filter: blur(0px); }
    22% { opacity: 1; -webkit-filter: blur(0px); } /*exit*/
    
    30% { opacity: 0; -webkit-filter: blur(40px); }
    92% { opacity:  0; -webkit-filter: blur(40px);  } /*enter*/
    
    97% { opacity:  1; -webkit-filter: blur(0px);  }
    100% { opacity: 1; -webkit-filter: blur(0px); }
}
@-webkit-keyframes captiontwo {
    0% { opacity: 0; -webkit-filter: blur(40px); }
    27% { opacity: 0; -webkit-filter: blur(40px); } /*enter*/
    
    32% { opacity: 1; -webkit-filter: blur(0px); }
    57% { opacity: 1; -webkit-filter: blur(0px); } /*exit*/
    
    65% { opacity: 0; -webkit-filter: blur(40px); }
    100% { opacity: 0; -webkit-filter: blur(40px); }
}
@-webkit-keyframes captionthree {
    0% { opacity: 0; -webkit-filter: blur(40px); }
    62% { opacity: 0; -webkit-filter: blur(40px); } /*enter*/
    
    67% { opacity: 1; -webkit-filter: blur(0px); }
    87% { opacity: 1; -webkit-filter: blur(0px); } /*exit*/

    95% { opacity:0; -webkit-filter: blur(40px); }
    100% { opacity:0; -webkit-filter: blur(40px); }
}